@import url("variables.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Flex:wght@400;500&family=Roboto:wght@400;500;700&family=Viga&display=swap');

body {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0 !important; /* Safari and Chrome */
  }
}

/* ----- NAVBAR ----- */
nav, footer, h1, h2, .saiba-mais, .card p:nth-of-type(2), .sector-4 {
    font-family: 'Poppins';
    font-weight: var(--semibold);
}

a {
    text-decoration: None;
}

nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    z-index: 9999;
    flex-direction: row;
    background-color: var(--azul-escuro);
    min-height: var(--colossal);
    align-items: center;
    padding: 0.5rem 6rem 0.5rem 6rem;
    justify-content: space-between;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);

}

.navbar-right a{
    text-decoration: none;
    color: var(--branco-neve);
    padding-left: 5rem;
    font-size: var(--grande);
}

.logo {
    max-width: 3rem;
    max-height: 3rem;
}

span {
    color: var(--amarelo-padrao)
}

/* ----- QUEM SOMOS ----- */

.sector-1 {
    display: flex;
    background-color: var(--azul-medio);
    padding-top: 5rem;
}

.quem-somos p{
    font-family: 'Roboto';
    padding: 0px 3rem 1rem 0px;
}

.quem-somos {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--azul-medio);
    padding-left: 10rem;
    color: var(--azul-cinza);
    font-size: var(--medio);
}

.quem-somos h2{
    color: var(--branco-neve);
    font-size: var(--colossal);
    max-width: 350px;
    padding-bottom: 1rem;
}

.img-uniao img {
    margin-top: 1rem;
    max-width: 600px;
    max-height: 350px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.50);
}

.saiba-mais {
    color: var(--amarelo-padrao);
}

/* ----- A IDEIA ----- */

.sector-2 {
    display: flex;
    background-color: var(--azul-medio);
    padding-top: 1rem;
}
.img-debate {
    position: absolute;
}

.img-debate img {
    margin-top: 1rem;
    max-width: 600px;
    max-height: 350px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.50);
}
.vazia {
    flex:1;
}

.a-ideia {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: var(--azul-medio);
    padding: 2rem 10rem 1rem 10rem;
    color: var(--azul-cinza);
    font-size: var(--medio);
    text-align: right;
}

.a-ideia h2{
    /* text-align: right; */
    margin-left: auto;
    max-width: 22rem;
    color: var(--branco-neve);
    font-size: var(--colossal);
    padding-bottom: 1rem;
}

.a-ideia p{
    font-family: 'Roboto';
    padding: 0rem 0rem 1rem 3rem;
}

/* ----- DESAFIOS ----- */

.sector-3 {
    display: flex;
    flex-direction: column;
    background-color: var(--branco-ovo);
    padding: 4rem 10rem 2rem 10rem;
    justify-content: center;
    align-items: center;
}

.desafio-head h2 {
    color: var(--azul-escuro);
    justify-content: center;
    max-width: 22rem;
    font-size: var(--colossal);
    text-align: right;
    padding-bottom: 2rem;
}

.desafios {
    display: flex;
    flex-direction: row;
}

.card {
    justify-content: space-around;
    max-width: 14rem;
    padding: 0rem 0.5rem;
}

.card p{
    font-family: 'Roboto Flex';
    color: var(--azul-escuro);
    padding-bottom: 0.5rem;
    text-align: justify;
}

.card p:first-of-type{
    font-size: var(--extra);
    font-weight: var(--bold);
}

.card p:nth-of-type(3){
    color: var(--azul-claro);
}

/* ----- CANVA ----- */
.sector-4 {
    display: flex;
    flex-direction: column;
    background-color: var(--azul-medio);
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.sector-4 img {
    height: 5rem;
    width: 5rem;
}

.sector-4 a {
    text-decoration: none;
}

.canva-head {
    display: flex;
    justify-content: end;
    padding-top: 1rem;
    padding-bottom: 1rem; 
    color: var(--branco-ovo);
    font-size: var(--colossal);
}

.upper {
    display: flex;
    text-align: center;
}

#parceiro, #proposta, #clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-canva);
    color: var(--branco-ovo);
    width: 200px;
    max-height: 390px;
    transition: transform 0.2s ease-in-out;
}

#parceiro p, #proposta p, #clientes p {
    color: var(--branco-ovo);
    text-align: center;
}

#atividade p, #canais p, #recurso p, #relacoes p, #custos p, #receita p {
    color: var(--azul-canva);
    text-align: center;
}

.double {
    flex-direction: column;
}

#atividade, #canais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    background-color: var(--branco-ovo);
    width: 200px;
    transition: transform 0.2s ease-in-out;
}

#recurso, #relacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    background-color: var(--amarelo-canva);
    width: 200px;
    transition: transform 0.2s ease-in-out;
}

.lower {
    display: flex;
    height: 140px;
    text-align: center;
}

#custos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco-ovo);
    width: 500px;
    transition: transform 0.2s ease-in-out;
}

#receita {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amarelo-canva);
    width: 500px;
    transition: transform 0.2s ease-in-out;
}

/* ----- PROTOTYPE ----- */

.sector-5 {
    display: flex;
    flex-direction: row;
    background-color: var(--branco-ovo);
    padding: 3rem 0rem 2rem 0rem;
    color: var(--azul-escuro);
    justify-content: center;
    
}
.sector-5 div {
    max-width: 50%;
}

.prototipo {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}
.prototipo h2 {
    font-size: var(--colossal);
    padding-bottom: 2rem;
}
.prototipo #boxes {
    font-family: 'Viga';
    color: var(--roxo-medio);
}

.prototipo p {
    font-family: 'Roboto Flex';
    color: var(--azul-claro);
    padding-bottom: 1rem;
    line-height: 1.5rem;
    font-weight: var(--medio);
}

.img-prot {
    text-align: center;
}

.img-prot img {
    max-height: 20rem;
    max-width: 20rem;
}

/* ----- FOOTER ----- */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    min-height: var(--colossal);
    font-size: var(--regular);
    color: var(--branco-ovo);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}