:root {
    /* cores */
    --amarelo-canva: #EBB94C;
    --amarelo-padrao: #FFB800;

    --azul-canva: #4B74B7;
    --azul-cinza: #ccdaf1;
    --azul-claro: #7189AE;
    --azul-escuro: #2F3B50;
    --azul-medio: #41526D;

    --branco-neve: #FFF;
    --branco-ovo: #F0F2F1;

    /* font-size */
    --pequeno: 14px;
    --regular: 16px;
    --medio: 18px;
    --grande: 20px;
    --extra: 24px;
    --enorme: 32px;
    --colossal: 40px;

    /* font-weight */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}