:root {
    /* cores */
    --amarelo-canva: #EBB94C;
    --amarelo-padrao: #FFB800;

    --azul-canva: #4B74B7;
    --azul-cinza: #ccdaf1;
    --azul-claro: #7189AE;
    --azul-escuro: #2F3B50;
    --azul-medio: #41526D;

    --branco-neve: #FFF;
    --branco-ovo: #F0F2F1;

    --roxo-medio: #6851AC;

    /* font-size */
    --pequeno: 0.875rem;
    --regular: 1rem;
    --medio: 1.125rem;
    --grande: 1.25rem;
    --extra: 1.5rem;
    --enorme: 2rem;
    --colossal: 2.5rem;

    /* font-weight */
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}