@import url("variables.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Flex:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

/* ----- NAVBAR ----- */
nav, footer, h1, h2, .saiba-mais {
    font-family: 'Poppins';
    font-weight: var(--semibold);
}

nav {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-color: var(--azul-escuro);
    min-height: var(--colossal);
    align-items: center;
    padding: 8px 96px 8px 96px;
    justify-content: space-between;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);

}

.navbar-right a{
    text-decoration: none;
    color: var(--branco-neve);
    padding-left: 80px;
    font-size: var(--grande);
}

.logo {
    max-width: 48px;
    max-height: 48px;
}

span {
    color: var(--amarelo-padrao)
}

/* ----- QUEM SOMOS ----- */

.sector-1 {
    display: flex;
    background-color: var(--azul-medio);
    padding-top: 80px;
}

.quem-somos p{
    font-family: 'Roboto';
    padding: 0px 48px 16px 0px;
}

.quem-somos {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--azul-medio);
    padding-left: 160px;
    color: var(--azul-cinza);
    font-size: var(--medio);
}

.quem-somos h2{
    color: var(--branco-neve);
    font-size: var(--colossal);
    max-width: 350px;
    padding-bottom: 16px;
}

.img-uniao img {
    margin-top: 16px;
    max-width: 600px;
    max-height: 350px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.50);
}

.saiba-mais {
    color: var(--amarelo-padrao);
}

/* ----- A IDEIA ----- */

.sector-2 {
    display: flex;
    background-color: var(--azul-medio);
    padding-top: 16px;
}
.img-debate {
    position: absolute;
}

.img-debate img {
    margin-top: 16px;
    max-width: 600px;
    max-height: 350px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.50);
}
.vazia {
    flex:1;
}

.a-ideia {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: var(--azul-medio);
    padding: 32px 160px 16px 160px;
    color: var(--azul-cinza);
    font-size: var(--medio);
    text-align: right;
}

.a-ideia h2{
    text-align: right;
    margin-left: auto;
    max-width:350px;
    color: var(--branco-neve);
    font-size: var(--colossal);
    padding-bottom: 16px;
}

.a-ideia p{
    font-family: 'Roboto';
    padding: 0px 0px 16px 48px;
}